/* ESTILOS DE LA CALCULADORA */

body {
    margin: 0;
    padding: 0;
    background-color: blue;
}

h1 {
    color: rgb(167, 44, 44);
    text-align:center;
    background-color: rgb(2, 95, 22);
}




