/* ESTILOS DE LA CALCULADORA */

body {
    margin: 0;
    padding: 0;
    background-color: blue;
}

h1 {
    color: rgb(167, 44, 44);
    text-align:center;
    background-color: rgb(2, 95, 22);  
    margin: 0 auto;
    padding:0;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
}




